<!-- Up Monitor -->

{{range .}}
<div
  class="bg-gray-900 border {{if eq .Status "UP"}}border-emerald-500{{else}} border-red-500 {{end}} rounded-2xl p-5 cursor-pointer shadow-lg transition hover:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <span class="font-semibold text-white text-lg truncate">{{.Url}}</span>
    <span
      class="w-4 h-4 rounded-full shadow-lg ring-2 animate-pulse {{if eq .Status "UP"}}  bg-emerald-500 border-emerald-500 ring-emerald-300 {{else}} bg-red-500 border-red-500 ring-red-300{{end}} "
    ></span>
  </div>
  <div class="flex items-center justify-between text-gray-400 text-sm mt-3">
    <span class="flex items-center gap-1">
      ⏳ <span>Check every {{.FrequencyMinutes}}m</span>
    </span>
    <span class="flex items-center gap-1">
      ⏱ <span>Timeout: {{.TimeoutSeconds}}s</span>
    </span>
  </div>
</div>
{{end}}

<!-- Down Monitor
<div
  class="bg-gray-900 border border-red-500 rounded-2xl p-5 cursor-pointer shadow-lg transition hover:bg-gray-800"
>
  <div class="flex items-center justify-between">
    <span class="font-semibold text-white text-lg truncate"
      >status.example.com</span
    >
    <span
      class="w-4 h-4 bg-red-500 rounded-full shadow-lg ring-2 ring-red-300"
    ></span>      
  </div>
  <div class="flex items-center justify-between text-gray-400 text-sm mt-3">
    <span class="flex items-center gap-1">
      ⏳ <span>Check every 3m</span>
    </span>
    <span class="flex items-center gap-1"> ⏱ <span>Timeout: 8s</span> </span>
  </div>
</div> -->

<div class="lg:col-span-3">
  <div class="bg-gray-900 rounded-2xl p-6 shadow-lg"></div>
</div>
